<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <% styles.forEach(function(style){ %>
     <link rel="stylesheet" href="<%= style %>" />
  <% }); %>
</head>

<body>
  <div id="root">
    <div class="page">
      <div class="header" x-memo>
        <h1 class="title">Create New Project</h1>
        <p class="subTitle">
          Create a new Piral instance or a new pilet for an existing Piral instance.
        </p>
      </div>
      <div class="first-container">
        <div class="container">
          <div class="container-type">
            <div class="cards containerColumn">
              <p class="columnTitle">Select Type <span class="errorRepoType errorMessage hide">[required]</span></p>
              <% repoTypes.forEach((repoType, index) => { %>
                <div
                  key="repoType<%= index %>"
                  class="card project"
                  repoType="<%= repoType.type %>"
                  >
                  <img class="selectedCardTag" src="<%= images.selectedItemIcon %>" />
                  <div class="cardTitle">
                    <img class="cardTitleIcon" src="<%= repoType.icon %>" />
                    <p class="cardTitleTxt"><%= repoType.title %></p>
                  </div>
                  <p class="cardDescription"><%= repoType.description %></p>
                </div>
              <% }); %>
            </div>
          </div>
          <div class="side-border"></div>
          <div class="container-infos">
            <div class="informations">
              <p class="columnTitle">Provide Information</p>
              <div class="extraItem">
                <p class="extraItemLabel">Name <span class="errorName errorMessage hide">[required]</span></p>
                <vscode-text-field
                  class="extraItemInput"
                  stateName="name"
                >
              </div>
              <div class="extraItem">
                <div class="extraItem-select-path">
                  <p class="extraItemLabel">Local Path <span class="errorLocalPath errorMessage hide">[required]</span></p>
                </div>
                <div class="local-path-input-container">
                  <div class="input-local-path">
                    <vscode-text-field
                      id="local-path-input"
                      class="extraItemInput"
                      stateName="targetFolder"
                    >
                  </div>
                  <div class="img-container2">
                    <img class="folders-img" id="local-path" src="<%= images.foldersIcon %>" />
                  </div>
                </div>
              </div>
              <div class="extraItem">
                <p class="extraItemLabel">Version</p>
                <vscode-text-field
                  class="extraItemInput"
                  stateName="version"
                  placeholder="1.0.0"
                  >
              </div>
              <div class="extraItem onlyForPilet hide">
                <p class="extraItemLabel">Piral Package</p>
                <vscode-text-field
                  class="extraItemInput"
                  stateName="piralPackage"
                  placeholder="sample-piral"
                  >
              </div>
              <div class="extraItem onlyForPilet hide">
                <p class="extraItemLabel">NPM Registry</p>
                <vscode-text-field
                  class="extraItemInput"
                  stateName="npmRegistry"
                  placeholder="https://registry.npmjs.org/"
                  >
              </div>
            </div>
            <div class="bundlers">
              <p class="columnTitle">Select bundler <span class="errorBundler errorMessage hide">[required]</span></p>
              <% bundlers.forEach((bundler, index) => { %>
                <div
                  key="bundler_<%= index %>"
                  class="card bundler"
                  bundler="<%= bundler.type %>"
                  >
                  <img class="selectedCardTag" src="<%= images.selectedItemIcon %>" />
                  <div class="cardTitle">
                    <img class="cardTitleIcon" src="<%= bundler.icon %>" />
                    <p class="cardTitleTxt"><%= bundler.title %></p>
                  </div>
                  <div class="cardDescription"><%= bundler.description %></div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
        <div class="btn-container">
          <!-- <vscode-button id="create-btn" title="Start Scaffolding" href="#">Scaffold Project</vscode-button> -->
          <vscode-button class="navigation-btn" direction="next" href="#">Next</vscode-button>
        </div>
      </div>
      <div class="second-container hide">
        <div class="container">
          <h1>second page</h1>
        </div>
        <div class="btn-container">
          <vscode-button class="navigation-btn" direction="previous" href="#">Previous</vscode-button>
          <vscode-button id="create-btn" title="Start Scaffolding" href="#">Scaffold Project</vscode-button>
        </div>
      </div>
    </div>
  </div>
  <% scripts.forEach((script) => { %>
     <script type="<%= script.type %>" src="<%= script.url %>"></script>
  <% }); %>
</body>

</html>


